@import "{jf:design}/app"

body
  background-color: black
  overflow: hidden

#viewer
  background-color: black
  height: 100%
  width: 100%

.loadingTextDiv
  theme('color', '$textSecondaryColor')
  font-size: 30px
